body{
    margin: 0;
    padding: 0;
    width: 100%;
}
#root, .app-container{
    width: 100%;
    height: 100%;
}
.error-message{
    margin-top: 20px !important;
    color: #9f3a38;
    border-radius: 5px;
    background-color: #fcf5f6;
    font-size: 12px;
    box-shadow: 0 0 0 1px #e0b4b4 inset, 0 0 0 0 transparent;
    padding: 10px 30px;
}
.error-check{
    input{
        border-color: #9f3a38 !important; 
    }
    label{
        color: #9f3a38 !important;
    }
}
.button-style{
    color: #fff !important;
    width: 180px !important;
    float: right;
    background: linear-gradient(to right, #4855a2 ,#805c9b) !important;
}
.span-style{
    color: #805c9b;
}
.container-center{
    display: flex;
    margin: 20px auto;                                 
    width: 60%;
    height: 80%;
    justify-content: center;
    align-content: center;
    .logo-container{
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 170px;
            height: 170px;
        }
    }
    .authentication-container{
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        .authentication-form{
            width: 100%;
        }
        .login-ptag{
            margin-top: 20px;
            text-align: center;
            font-size: 12px;
            a{
                color: #805c9b;
            }
        }
    }
}
.form-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    button{
        min-width: 200px;
    }
    span{
        cursor: pointer;
        text-decoration: underline;
    }
}
.container-full{
    display: flex;
    margin: 0 auto;                                 
    width: 100%;
    height: 100%;
    flex-direction: column;
    .menu-container{
        width: 100%;
        margin-bottom: 10px;
        .menu{
            align-items: center;
        }
        .user-icon{
            font-size: 22px;
            cursor: pointer;
        }
    }
    .content-container{
        width: 90%;
        margin: 0 auto;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .credit-component{
            width: 60%;
            display: flex;
            padding: 20px;
            min-height: 400px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            .credit-elements{
                width: 100%;
                text-align: center;
            }
            .select-form{
                width: 100%;
                .icon-select{
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    .icon-container{
                        width: 30%;
                        height: 200px;
                        margin: 0 20px;
                        border: 1px solid #e0e0e0;
                        background-color: #fbfbfb;
                        border-radius: 5px;
                        display: flex;
                        flex-direction: column;
                        font-size: 45px;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            .credit-income{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                form{
                    width: 60%;
                    padding-top: 30px;
                    .form-element{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .input{
                            min-width: 250px;
                        }
                    }
                    .error{
                        label{
                            color: #9f3a38;
                        }
                    }
                }
                .credit-header{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .credit{
                        margin: 0 20px;
                        text-align: center;
                        h3{
                            padding-bottom: 10px;
                        }
                    }
                    .income{
                        color: #155724;
                    }
                    .expense{
                        color: #9f3a38;
                    }
                }
            }
            .success-container{
                width: 100%;
                .final-message{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                }
                .success{
                    border: 1px solid #c3e6cb;
                    border-radius: 5px;
                    color: #155724;
                    background-color: #d4edda;
                }
                .failure{
                    border: 1px solid #f5c6cb;
                    border-radius: 5px;
                    color: #721c24;
                    background-color: #f8d7da;
                }
            }
        }
    }
}
.settings-container{
    width: 100%;
    .settings-list{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .settings-option{
            display: flex;
            width: 60%;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0;
            div{
                width: 40%;
            }
            .input{
                width: 100%;
            }
        }
    }
}