body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.app-container{
    width: 100%;
}
.container-center{
    display: flex;
    margin: 0 auto;                                 
    width: 90%;
    justify-content: center;
    align-content: center;
}
.container-full{
    display: flex;
    margin: 0 auto;                                 
    width: 100%;
    flex-direction: column;
    .menu-container{
        width: 100%;
        margin-bottom: 10px;
    }
    .content-container{
        width: 90%;
        margin: 0 auto;
    }
}